/*
 * 'Page not found' page styles
 */

body.not-found {
  .not-found-container {
      margin-top: 5em;
      color: $foreground-color;

    .not-found-title {
      font-size: 2em;
      line-height: 1.5em;
    }
  }
}