<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{% if page.title %}{{ page.title }} &middot; {% endif %}{{ site.title }}</title>
  <meta name="viewport" content="width=device-width">
  <meta name="description" content="{{ page.description | default: site.description }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

  <meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <meta property="og:image" content="{% if page.image %}{{ site.url ~ page.image }}{% else %}https://www.gravatar.com/avatar/{{ site.gravatar }}.png?s=512{% endif %}">
  <meta property="og:description" content="{{ page.description | default: site.description }}">
  <meta property="og:type" content="website">
  <meta property="og:title" content="{% if page.title %}{{ page.title }} &middot; {% endif %}{{ site.title }}">

  <link rel="shortcut icon" href="https://www.gravatar.com/avatar/{{ site.gravatar }}.png?s=16" type="image/png">
  <link rel="alternate" href="{{ '/feed.xml' | prepend: site.baseurl }}" type="application/atom+xml" title="Feed de atividade em {{ site.title }}">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{{ '/css/estilos.css' | prepend: site.baseurl }}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700%7CUbuntu+Mono:400,700%7CVollkorn:400,700">

  <meta name="theme-color" content="{{ site.theme_color }}">

  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', {{ site.google_analytics_tracking_id | jsonify }}, 'auto');
  ga('send', 'pageview');
  ga('require', 'displayfeatures');
  ga('require', 'linkid', 'linkid.js');
  </script>
</head>

<body{% if page.class %} class="{{ page.class }}"{% endif %} itemscope itemtype="http://schema.org/WebPage">
  <meta itemprop="name" content="{{ page.title | default: site.title }}"/>
  <meta itemprop="description" content="{{ page.description | default: site.description }}"/>

  {{ content }}

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/js/bootstrap.min.js"></script>
</body>  
</html>