<!DOCTYPE html>
<html lang="pt-br">

{% include head.html %}

<body{% if page.class %} class="{{ page.class }}"{% endif %} itemscope itemtype="http://schema.org/WebPage">
  <meta itemprop="name" content="{{ page.title | default: site.title }}"/>
  <meta itemprop="description" content="{{ page.description | default: site.description }}"/>

  {{ content }}

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/js/bootstrap.min.js"></script>
  
  {% include google-analytics.html %}
</body>
</html>